.button {
  display: inline-block;

  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: bold;

  vertical-align: middle;
  background-color: transparent;

  border: 3px solid #ffffff;
  border-radius: 30px;
}

@media (min-width: @tablet-width) {
  .button {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    font-size: 21px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
