.site-list {
  font-weight: bold;
  text-transform: uppercase;
}

.site-list__item:last-child {
  position: absolute;

  width: 100%;
}

.site-list__link {
  display: block;

  color: #ffffff;

  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  background-color: #283645;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.site-list__link[href] {
  &:hover,
  &:focus {
    color: #d22856;;
  }

  &:active {
    color: fade(#d22856, 30%);
  }
}
